.content {
  min-height: 40em;
}

.table>tbody>tr>td {
  padding: 1em;
  border: 1px solid #ddd;
  font-size: .9em;
  vertical-align: inherit;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 0;
  border-bottom-width: 0;
  padding: 1em 1.4em;
}
.table-bordered>thead>tr>td a, .table-bordered>thead>tr>th a {
  text-decoration: underline;
  display: block;
  width:100%;
}

.table-bordered>thead>tr>td a:hover, .table-bordered>thead>tr>th a:hover {
  font-weight: bold;
  text-decoration: none;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}
