.content {
    min-height: 60em;
}
.table>tbody>tr>td {
    padding: 16px;
    border: 1px solid #ddd;
    font-size: .9em;
    vertical-align: inherit
}
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 0;
    border-bottom-width: 0;
    padding: 1em 1.4em
}
.table-bordered>thead>tr>td a,
.table-bordered>thead>tr>th a {
    text-decoration: underline;
    display: block;
    width: 100%
}
.hide,
.mobile-only {
    display: none;
}
.table-bordered>thead>tr>td a:hover,
.table-bordered>thead>tr>th a:hover {
    font-weight: 700;
    text-decoration: none;
}
.tooltip {
    color: #222;
    background-color: #fff;
    padding: 1em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: .9;
    position: absolute;
    border: 1px solid gray;
}
#geo svg {
    height: 500px!important;
}
#geo path {
    stroke: #fff;
    stroke-width: .25px;
    fill: grey;
}
svg {
    width: 100%!important;
    height: auto!important;
}
@media screen and (max-width: 768px) {
    .overflow {
        overflow: scroll;
        height: 600px;
        -webkit-overflow-scrolling: touch;
    }
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    ::-webkit-scrollbar:vertical {
        width: 14px;
    }
    ::-webkit-scrollbar:horizontal {
        height: 14px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 9px;
        background-color: rgba(0, 0, 0, .6);
        border: 3px solid #fff;
    }
    ::-webkit-scrollbar-track {
        border-radius: 9px;
        background-color: #fff;
    }
    .mobile-only {
        display: block;
    }
}
